<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    Конфигурационный файл приложения.
    В данном примере основные настройки подключения к БД задаются
    непосредственно в коде (AgencyContext.OnConfiguring),
    однако App.config сохраняется для соответствия требованиям задания.
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>

